@font-face {
	font-family: "Pixelboy";
	src: url("../fonts/Pixeboy-z8XGD.ttf");
}

@font-face {
	font-family: "Makina";
	src: url("../fonts/makina.otf");
}

@font-face {
	font-family: "Paragraph";
	src: url("../fonts/paragraph.ttf");
}
