@import "scrollbar.css";
@import "fonts.css";
@import "static.css";
@import "noise.css";

html {
	background-color: #000;
	color: #fff;
	font-family: "Paragraph", sans-serif;
	cursor: url("../img/cursor.png"), default;
}

#wallpaper {
	background-image: url("../img/vhs_static.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#main {
	background: rgba(22, 33, 44, 0.6);
	width: 93%;
	min-height: 100%;
	backdrop-filter: blur(5px);
	top: 50px;
	right: 0;
	position: absolute;
	padding: 20px;
	z-index: 0;
}

#clock {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 1vh 1vh;
	width: 7.04em;
	height: 2em;
	font-size: 2em;
	pointer-events: none;
	background-color: blue;
}

.vhs_font {
	font-family: "VCR OSD Mono";
	text-shadow: 0 0 0.1em black, -0.04em 0 0.02em #ff00ff, 0.04em 0 0.02em #00ffff;
	filter: blur(1px);
}


h1 {
	margint: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	text-align: center;
	font-size: 400%;
}

h2 {
	font-size: 200%;
	line-height: 0;
}

p {
	font-size: 100%;
	text-align: center;
}

#menu {
	font-size: 100%;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: blue;
	display: flex;
	top: 0;
	left: 0;
	z-index: 1;
}

a {
	cursor: url("../img/pointer.png"), default;
}

a:link, a:visited {
	padding: 5px;
	color: white;
	text-decoration: none;
}

a.current, a:hover {
	color: white;
	padding: 5px;
	background-color: blue;
	text-decoration: none;
}

ul {
    list-style: none;
	display: flex;

}

li {
	font-size: 100%;
}

.kill {
	position: relative;
	filter: url(#kill);
}

*::selection{
	background: blue;
}
