#noise {
	content: "";
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: 999;
	pointer-events: none;
	background-image: url("../img/noise.png");
	animation-name: grain;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(6);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-5%, -10%); }
	30% { transform: translate(3%, -15%); }
	50% { transform: translate(12%, 9%); }
	70% { transform: translate(9%, 4%); }
	90% { transform: translate(-1%, 7%); }
}
