body {
	background-color: #211e1b;
}

@font-face {
	font-family: "Quicksand Light";
	src: url("https://bestris.github.io/fonts/Quicksand/static/Quicksand-Light.ttf")
}

#welcome {
	color: #a39c90;
	text-align: center;
	font-size: 500%;
	font-family: "Quicksand Light";
}
