body {

}

/* Scanlines*/
#overlay:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(res/img/overlay.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

#overlay:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(res/img/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}


#wallpaper {
	background-image: url("res/img/vhs_static.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Quicksand Light";
	src: url("res/fonts/Quicksand/static/Quicksand-Light.ttf");
}

@font-face {
	font-family: "Pixelboy";
	src: url("res/fonts/Pixeboy-z8XGD.ttf");
}

#main {
	background: rgba(22, 33, 44, 0.6);
	width: 50%;
	min-height: 100%;
	backdrop-filter: blur(5px);
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	padding: 20px;
}

#menu {
	color: white;
	font-family: "Pixelboy";
	padding: 10px;
	width: 25%;
	height: 300px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px;
	z-index: 1;
}

#menu div{
	font-size: 400%;
}

#welcome {
	color: white;
	text-align: center;
	font-size: 700%;
	font-family: "Pixelboy";
}

a:link {
	color: white;
}
a:visited {
	color: white;
}

ul {
    list-style: none;
    margin: 0.75em 0;
}

li {
	font-size: 200%;
}

li:before {
    content: "";
    border-color: transparent #a39c90;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    left: -1em;
    position: relative;
    top: 0.9em;
    width: 0;
}

.kill {
	position: relative;
	filter: url(#kill);
}

#text {
	font-family: "Pixelboy";
	font-size: 150%;
	color: #a39c90;
}
